<head>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans|Oswald" rel="stylesheet">
</head>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Theater Arts Group</a>
    </div>
    <ul class="nav navbar-nav navbar-right ">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="member-list">Members</a></li>
    </ul>
  </div>
  <div class="yellowBar"></div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="spacer"></div>
<footer class="footer">
  <div class="container">
    <a class="text-muted adminButton" routerLink="admin">Admin</a>
  </div>
</footer>
