<div class="card">
  <label>Edit Member</label>
  <div class="form-group">
    <input class="form-control" [(ngModel)]="selectedMember.firstName" placeholder="Hal">
  </div>
  <div class="form-group">
    <input class="form-control"[(ngModel)]="selectedMember.lastName" placeholder="Jordan">
  </div>
  <div class="form-group">
    <input class="form-control"[(ngModel)]="selectedMember.phone" placeholder="123-456-7890">
  </div>
  <div class="form-group">
    <input class="form-control"[(ngModel)]="selectedMember.email" placeholder="hal.jordan@gmail.com">
  </div>
  <div class="form-group">
    <input class="form-control"[(ngModel)]="selectedMember.address" placeholder="127 Main St, Vancouver Wa, 98683">
  </div>
  <div class="form-group">
    <input class="form-control"[(ngModel)]="selectedMember.birthdate" placeholder="May 10, 1999">
  </div>
  <div class="form-group">
    <input class="form-control"[(ngModel)]="selectedMember.gender" placeholder="Male">
  </div>
  <div class="form-group">
    <label>Show</label>
    <select #newShow class="form-control"[(ngModel)]="selectedMember.show">
      <option value="BeautyAndTheBeast" selected="selected">Beauty and the Beast</option>
      <option value="TheLittleMermaid">The Little Mermaid</option>
      <option value="JamesAndTheGiantPeach">James and the Giant Peach</option>
    </select>
  </div>
  <div>
    <button class="btn btn-warning" (click)="beginUpdatingThisMember(selectedMember)">Update</button>
    <button class="btn btn-danger"(click)="beginDeletingMember(selectedMember)">Delete</button>
  </div>
</div>
